body, html{
	height: 100%;
	font-family: 'Lato', sans-serif;
}

#main-wrapper{
	position: relative;
	margin:3px 5px;
	height: 100%;
}
#user-input-wrapper{
	position: relative;
	margin: 0px auto;
    width: 40%;
    top: 50%;
    text-align: center;
    border-top: 1px solid #18bc9c;
    border-bottom: 1px solid #18bc9c;
    padding: 10px 0px;
    z-index: 3;
    margin-top: -50px;
}

#user-input-wrapper > label{
	letter-spacing: 2px;
	color: #555;
}

#user-input-wrapper > .grid-size {
	width: 30px;
    margin: 1%;
    border-radius: 12px;
    height: 20px;
    font-size: 16px;
    text-align: center;
}

#user-input-wrapper > button{
	height: 25px;
    width: 70px;
    margin-top: 5px;
}

.user-input-animate{
	animation: user-input 0.7s ease-out forwards;
	-webkit-animation: user-input 0.7s ease-out forwards;
}

#game-wrapper{
	position: relative;
	margin-top: 5%;
}

#game-board{
	position: relative;
	margin: 0px auto;
	max-width: 90%;
	height: 100px;
}

.tile-table{
	margin: 0px auto;
	transition: all 0.4s ease-out;
}

.tile-table td{
	text-align: center;
	max-width: 120px;
	padding: 0px 3px;
}

.tile-wrapper{
	position: relative;
	width: 100%;
	display: inline-block;
	margin: 1%;
	
}

.tile{
	max-width: 100%;
	transition: all 0.2s ease-in;
	z-index: 2;
	cursor: pointer;
}

.tile:hover{
	-webkit-filter: invert(90%);
	filter: invert(90%);
}

.revealed-tile, .revealed-tile-temp{
	opacity: 0.2;
	cursor: not-allowed;
	pointer-events: none;
}

.tile-key{
	text-align: center;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 50px;
    height: 44px;
    margin-left: -25px;
    margin-top: -22px;
    z-index: -1;
    font-size: 3vw;
}

.tile-victory{
	animation: victory 2s linear infinite;
	-webkit-animation: victory 2s linear infinite;
}

@keyframes victory {
    0% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 1;}
}

@-webkit-keyframes victory {
    0% {opacity: 1;}
    50% {opacity: 0;}
    99% {opacity: 1;}
}

@keyframes user-input {
    0% {top: 50%;}
    100% {top: 50px;}
}

@-webkit-keyframes user-input {
    0% {top: 50%;}
    100% {top: 50px;}
}

.hidden{
	opacity: 0;
	z-index: -2;
}

.firefox-overflow{
	width: 100%;
	table-layout: fixed;
}

@media only screen and (min-width: 761px) and (max-width: 1100px){
	#game-wrapper{
		margin-top: 7%;
	}
	.tile-key{
		height: 30px;
		margin-top: -15px;
	}
}

@media only screen and (max-width: 760px){
	#game-wrapper{
		margin-top: 9%;
	}
	.tile-key{
		height: 20px;
		margin-top: -10px;
	}
}